<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classifier</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="page-header">
            <h3>Classifies the images into one of the following:</h3>
        </div>
        <div class="row">
            {% for category in categories %}
            <div class=" col-md-1 col-sm-2">{{category}}</div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group row well">
        <form action="/userimage" enctype="multipart/form-data" method="post">
            <label class=" col-md-4 col-sm-4 col-xs-4" for="imagefile">Upload your own image to try:</label>
            <input accept="image/x-png,image/gif,image/jpeg" class=" col-md-4 col-sm-4 col-xs-4" id="imagefile"
                   name="imagefile" type="file"/>
            <button class=" col-md-4 col-sm-4 col-xs-4 btn btn-info" type="submit">Test</button>
        </form>
        {% if form_image_prediction !="" %}
        <div>
            Predicted Class: <b>{{form_image_prediction}}</b>
        </div>
        {% endif %}
    </div>

    <div>
        <h5> Some random samples from test set with live prediction</h5>
    </div>
<!--    <div class="row">-->
    {% for image_num in images %}
    <div style="width:50%;margin:0px;float:right;">
    <div class="card" >
        <img src='data:image;base64,{{images[image_num][0]}}'>
        <div class="card-body">
            <p class="card-text">id:{{image_num}}</p>
            <p class="card-text"><b>Actual:</b> {{images[image_num][1]}}</p>
            <p class="card-text"><b>Predicted:</b> {{images[image_num][2]}}</p>
<!--            <p>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
        </div>
    </div>
    </div>
    <!--                <div class="thumbnail">-->

    <!--                    <img src='data:image;base64,{{images[image_num][0]}}'>-->
    <!--                    <div class="caption">-->
    <!--                        <div>id:{{image_num}}</div>-->
    <!--                        <div>Actual: {{images[image_num][1]}}</div>-->
    <!--                        <div>Predicted: {{images[image_num][2]}}</div>-->
    <!--                    </div>-->
    <!--                </div>-->

    {% endfor %}
<!--</div>-->
</div>
</div>

</div>

</body>
</html>