<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166788208-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-166788208-1');
    </script>

    <meta charset="UTF-8">
    <title>Image Classifier</title>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Image Classifier</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a  class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a   class="nav-link"  href="/model">Model Details</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" target="_blank" href="https://github.com/ketulgupta1995/cnn-image-classifier-flask-app/tree/master">Github Repo</a>
        </li>
    </ul>
</nav>

<div class="container">

    <div class="card">
        <div class="card-header">Classifies the images into one of the following:</div>
        <div class="card-body">

            <!--            <ul class="list-group list-group-horizontal" style="  display: grid !important;-->
            <!--  grid-template-columns: repeat(2, 1fr);-->
            <!--  grid-gap: 1em;">-->
            <!--                {% for category in categories %}-->
            <!--                <li class="list-group-item list-group-item-success ">{{category}}</li>-->
            <!--                {% endfor %}-->
            <!--            </ul>-->

            <div class="row row-cols-3">
                {% for category in categories %}
                <div class="col mb-1"><div class ="border border-primary rounded" style="text-align:center">{{category}}</div></div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">Try It Yourself:</div>
        <div class="card-body">
            <form action="/userimage" enctype="multipart/form-data" method="post">
                <div class="form-row ">

                    <label class=" col" for="imagefile">Upload Image:</label>
                    <input required="true" accept="image/x-png,image/gif,image/jpeg" class=" col" id="imagefile"
                           name="imagefile" type="file"/>
                    <button class=" col btn btn-info" type="submit">Test</button>

                </div>
            </form>
            {% if form_image_prediction !="" %}
            <div>
                Predicted Class: <b>{{form_image_prediction}}</b>
            </div>
            {% endif %}
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-5">
        {% for image_num in images %}
        <div class="col mb-4">
            <div class="card">
                <img src='data:image;base64,{{images[image_num][0]}}' class="card-img-top" alt="id:{{image_num}}" >
                <div class="card-body">
                    <h5 class="card-title"><b>Actual:</b> {{images[image_num][1]}}</h5>
                    <h5 class="card-title"><b>Predicted:</b> {{images[image_num][2]}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>