<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classifier</title>
</head>
<body>
Classifies the images into one of the following:
    <oi>
        {% for category in categories %}
            <li>{{category}}</li>
         {% endfor %}
    </oi>


<form action="/userimage"  enctype="multipart/form-data"   method="post">
    <input type="file" name="imagefile" id = "imagefile" accept="image/x-png,image/gif,image/jpeg" />
    <button type="submit">Test</button>
</form>

{% if form_image_prediction !="" %}
         <div>Predicted Class:  <b>{{form_image_prediction}}</b></div>
{% endif %}

Some random samples from test set with live prediction
        <table border="1px solid black">
            <tr>
                <th>Number</th>
                <th>Image</th>
                <th>Actual</th>
                <th>Predicted</th>
            </tr>
            {% for image_num in images %}
            <tr>
                 <td><div>{{image_num}}</div></td>
                 <td><img src='data:image;base64,{{images[image_num][0]}}'></td>
                 <td><div>{{images[image_num][1]}}</div></td>
                 <td>{{images[image_num][2]}}</td>
            </tr>


             {% endfor %}
        </table>






</body>
</html>